{% extends 'opening/twwdbase.html' %}

 {% load static %}
     <link rel="stylesheet" type="text/css" href="{% static 'css/font-awesome.min.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}" />

{% block bubble-block %}
<style>
    
    
    .visual-talk{
      text-align: justify;
    }
    .admin-display{
        width:100%;
   
    }
    
    .clearer{
        clear:both;
    }
    
    #admin-text{
        width:50%;
        text-align:center;
    
        float:left;
        color:white;
        padding: 5px 10px 0 10px;
       
    }
    
    #admin-view{
        width:45%;

       background-image:url("{% static 'adminView.jpg' %}");
        background-size:cover;
        float:right;
    }
    
    .bubbles-display{
    
    }
    
  

/* KEYFRAMES */

@-webkit-keyframes animateBubble {
    0% {
        margin-top: 100px;
    }
    100% {
        margin-top: -100%;
    }
}

@-moz-keyframes animateBubble {
    0% {
        margin-top: 100px;
    }
    100% {
        margin-top: -100%;
    }
}

@keyframes animateBubble {
    0% {
        margin-top: 100px;
    }
    100% {
        margin-top: -100%;
    }
}

@-webkit-keyframes sideWays { 
    0% { 
        margin-left:0px;
    }
    100% { 
        margin-left:50px;
    }
}

@-moz-keyframes sideWays { 
    0% { 
        margin-left:0px;
    }
    100% { 
        margin-left:50px;
    }
}

@keyframes sideWays { 
    0% { 
        margin-left:0px;
    }
    100% { 
        margin-left:50px;
    }
}

/* ANIMATIONS */


    .x1 {
    -webkit-animation: animateBubble 5s linear infinite, sideWays 1s ease-in-out infinite alternate;
	-moz-animation: animateBubble 5s linear infinite, sideWays 1s ease-in-out infinite alternate;
	animation: animateBubble 5s linear infinite, sideWays 1s ease-in-out infinite alternate;
	
	left: 0;
	top: 100%;
	
	-webkit-transform: scale(0.16);
	-moz-transform: scale(0.16);
	transform: scale(0.16);
}

.x2 {
    -webkit-animation: animateBubble 5s linear infinite, sideWays 2s ease-in-out infinite alternate;
	-moz-animation: animateBubble 5s linear infinite, sideWays 2s ease-in-out infinite alternate;
	animation: animateBubble 5s linear infinite, sideWays 2s ease-in-out infinite alternate;
	
	left: 15%;
	top: 100%;
	
	-webkit-transform: scale(0.31);
	-moz-transform: scale(0.31);
	transform: scale(0.31);
}

.x3 {
    -webkit-animation: animateBubble 5s linear infinite, sideWays 2s ease-in-out infinite alternate;
	-moz-animation: animateBubble 5s linear infinite, sideWays 2s ease-in-out infinite alternate;
	animation: animateBubble 5s linear infinite, sideWays 2s ease-in-out infinite alternate;
	
	left: 10%;
	top: 100%;
	
	-webkit-transform: scale(0.27);
	-moz-transform: scale(0.27);
	transform: scale(0.27);
}

.x4 {
    -webkit-animation: animateBubble 5s linear infinite, sideWays 2s ease-in-out infinite alternate;
	-moz-animation: animateBubble 5s linear infinite, sideWays 2s ease-in-out infinite alternate;
	animation: animateBubble 5s linear infinite, sideWays 2s ease-in-out infinite alternate;
	
	left: 60%;
	top: 100%;
	
	-webkit-transform: scale(0.13);
	-moz-transform: scale(0.13);
	transform: scale(0.13);
}

.x5 {
    -webkit-animation: animateBubble 5s linear infinite, sideWays 1s ease-in-out infinite alternate;
	-moz-animation: animateBubble 5s linear infinite, sideWays 1s ease-in-out infinite alternate;
	animation: animateBubble 5s linear infinite, sideWays 1s ease-in-out infinite alternate;
	
	left: 30%;
	top: 0;
	
	-webkit-transform: scale(0.15);
	-moz-transform: scale(0.15);
	transform: scale(0.15);
}

.x6 {
    -webkit-animation: animateBubble 5s linear infinite, sideWays 2s ease-in-out infinite alternate;
	-moz-animation: animateBubble 5s linear infinite, sideWays 2s ease-in-out infinite alternate;
	animation: animateBubble 5s linear infinite, sideWays 2s ease-in-out infinite alternate;
	
	left: 20%;
	top: 0;
	
	-webkit-transform: scale(0.21);
	-moz-transform: scale(0.21);
	transform: scale(0.21);
}

.x7 {
    -webkit-animation: animateBubble 8s linear infinite, sideWays 2s ease-in-out infinite alternate;
	-moz-animation: animateBubble 8s linear infinite, sideWays 2s ease-in-out infinite alternate;
	animation: animateBubble 8s linear infinite, sideWays 2s ease-in-out infinite alternate;
	
	left: 65%;
	top: 70%;
	
	-webkit-transform: scale(0.18);
	-moz-transform: scale(0.18);
	transform: scale(0.18);
}

.x8 {
    -webkit-animation: animateBubble 5s linear infinite, sideWays 1s ease-in-out infinite alternate;
	-moz-animation: animateBubble 5s linear infinite, sideWays 1s ease-in-out infinite alternate;
	animation: animateBubble 5s linear infinite, sideWays 1s ease-in-out infinite alternate;
	
	left: 30%;
	top: 0;
	
	-webkit-transform: scale(0.13);
	-moz-transform: scale(0.13);
	transform: scale(0.13);
}

.x9 {
    -webkit-animation: animateBubble 5s linear infinite, sideWays 3s ease-in-out infinite alternate;
	-moz-animation: animateBubble 5s linear infinite, sideWays 3s ease-in-out infinite alternate;
	animation: animateBubble 5s linear infinite, sideWays 3s ease-in-out infinite alternate;
	
	left: 40%;
	top: 0;
	
	-webkit-transform: scale(0.2);
	-moz-transform: scale(0.2);
	transform: scale(0.2);
}

.x10 {
    -webkit-animation: animateBubble 5s linear infinite, sideWays 1s ease-in-out infinite alternate;
	-moz-animation: animateBubble 5s linear infinite, sideWays 1s ease-in-out infinite alternate;
	animation: animateBubble 5s linear infinite, sideWays 1s ease-in-out infinite alternate;
	
	left: 60%;
	top: 10%;
	
	-webkit-transform: scale(0.1);
	-moz-transform: scale(0.1);
	transform: scale(0.1);
}
    
    .x11 {
    -webkit-animation: animateBubble 4s linear infinite, sideWays 1s ease-in-out infinite alternate;
	-moz-animation: animateBubble 4s linear infinite, sideWays 1s ease-in-out infinite alternate;
	animation: animateBubble 4s linear infinite, sideWays 1s ease-in-out infinite alternate;
	
	left: 7%;
	top: 5%;
	
	-webkit-transform: scale(0.16);
	-moz-transform: scale(0.16);
	transform: scale(0.16);
}

.x12 {
    -webkit-animation: animateBubble 4s linear infinite, sideWays 2s ease-in-out infinite alternate;
	-moz-animation: animateBubble 4s linear infinite, sideWays 2s ease-in-out infinite alternate;
	animation: animateBubble 4s linear infinite, sideWays 2s ease-in-out infinite alternate;
	
	left: 75%;
	top: 80%;
	
	-webkit-transform: scale(0.31);
	-moz-transform: scale(0.31);
	transform: scale(0.31);
}

.x13 {
    -webkit-animation: animateBubble 4s linear infinite, sideWays 2s ease-in-out infinite alternate;
	-moz-animation: animateBubble 4s linear infinite, sideWays 2s ease-in-out infinite alternate;
	animation: animateBubble 4s linear infinite, sideWays 2s ease-in-out infinite alternate;
	
	left: 48%;
	top: 40%;
	
	-webkit-transform: scale(0.27);
	-moz-transform: scale(0.27);
	transform: scale(0.27);
}

.x14 {
    -webkit-animation: animateBubble 4s linear infinite, sideWays 2s ease-in-out infinite alternate;
	-moz-animation: animateBubble 4s linear infinite, sideWays 2s ease-in-out infinite alternate;
	animation: animateBubble 4s linear infinite, sideWays 2s ease-in-out infinite alternate;
	
	left: 67%;
	top: 0;
	
	-webkit-transform: scale(0.13);
	-moz-transform: scale(0.13);
	transform: scale(0.13);
}

.x15 {
    -webkit-animation: animateBubble 4s linear infinite, sideWays 1s ease-in-out infinite alternate;
	-moz-animation: animateBubble 4s linear infinite, sideWays 1s ease-in-out infinite alternate;
	animation: animateBubble 4s linear infinite, sideWays 1s ease-in-out infinite alternate;
	
	left: 37%;
	top: 0;
	
	-webkit-transform: scale(0.15);
	-moz-transform: scale(0.15);
	transform: scale(0.15);
}

.x16 {
    -webkit-animation: animateBubble 3.8s linear infinite, sideWays 2s ease-in-out infinite alternate;
	-moz-animation: animateBubble 3.8s linear infinite, sideWays 2s ease-in-out infinite alternate;
	animation: animateBubble 3.8s linear infinite, sideWays 2s ease-in-out infinite alternate;
	
	left: 47%;
	top: 0;
	
	-webkit-transform: scale(0.21);
	-moz-transform: scale(0.21);
	transform: scale(0.21);
}

.x17 {
    -webkit-animation: animateBubble 3.5s linear infinite, sideWays 2s ease-in-out infinite alternate;
	-moz-animation: animateBubble 3.5s linear infinite, sideWays 2s ease-in-out infinite alternate;
	animation: animateBubble 3.5s linear infinite, sideWays 2s ease-in-out infinite alternate;
	
	left: 57%;
	top: 70%;
	
	-webkit-transform: scale(0.18);
	-moz-transform: scale(0.18);
	transform: scale(0.18);
}

.x18 {
    -webkit-animation: animateBubble 3.5s linear infinite, sideWays 1s ease-in-out infinite alternate;
	-moz-animation: animateBubble 3.5s linear infinite, sideWays 1s ease-in-out infinite alternate;
	animation: animateBubble 3.5s linear infinite, sideWays 1s ease-in-out infinite alternate;
	
	left: 77%;
	top: 0;
	
	-webkit-transform: scale(0.13);
	-moz-transform: scale(0.13);
	transform: scale(0.13);
}

.x19 {
    -webkit-animation: animateBubble 3.7s linear infinite, sideWays 3s ease-in-out infinite alternate;
	-moz-animation: animateBubble 3.7s linear infinite, sideWays 3s ease-in-out infinite alternate;
	animation: animateBubble 3.7s linear infinite, sideWays 3s ease-in-out infinite alternate;
	
	left: 87%;
	top: 0;
	
	-webkit-transform: scale(0.2);
	-moz-transform: scale(0.2);
	transform: scale(0.2);
}

.x20 {
    -webkit-animation: animateBubble 4s linear infinite, sideWays 1s ease-in-out infinite alternate;
	-moz-animation: animateBubble 4s linear infinite, sideWays 1s ease-in-out infinite alternate;
	animation: animateBubble 4s linear infinite, sideWays 1s ease-in-out infinite alternate;
	
	left: 97%;
	top: 10%;
	
	-webkit-transform: scale(0.1);
	-moz-transform: scale(0.1);
	transform: scale(0.1);
}
    

.x21 {
    -webkit-animation: animateBubble 3s linear infinite, sideWays 1s ease-in-out infinite alternate;
	-moz-animation: animateBubble 3s linear infinite, sideWays 1s ease-in-out infinite alternate;
	animation: animateBubble 3s linear infinite, sideWays 1s ease-in-out infinite alternate;
	
	left: 60%;
	top: 10%;
	
	-webkit-transform: scale(0.1);
	-moz-transform: scale(0.1);
	transform: scale(0.1);
}
    

.x22 {
   -webkit-animation: animateBubble 3s linear infinite, sideWays 2s ease-in-out infinite alternate;
	-moz-animation: animateBubble 3s linear infinite, sideWays 2s ease-in-out infinite alternate;
	animation: animateBubble 3s linear infinite, sideWays 2s ease-in-out infinite alternate;
	
	left: 14%;
	top: 80%;
	
	-webkit-transform: scale(0.31);
	-moz-transform: scale(0.31);
	transform: scale(0.31);
}

.x23 {
      -webkit-animation: animateBubble 3s linear infinite, sideWays 2s ease-in-out infinite alternate;
	-moz-animation: animateBubble 3s linear infinite, sideWays 2s ease-in-out infinite alternate;
	animation: animateBubble 3s linear infinite, sideWays 2s ease-in-out infinite alternate;
	
	left: 24%;
	top: 40%;
	
	-webkit-transform: scale(0.27);
	-moz-transform: scale(0.27);
	transform: scale(0.27);
}

.x24 {
     -webkit-animation: animateBubble 3s linear infinite, sideWays 2s ease-in-out infinite alternate;
	-moz-animation: animateBubble 3s linear infinite, sideWays 2s ease-in-out infinite alternate;
	animation: animateBubble 3s linear infinite, sideWays 2s ease-in-out infinite alternate;
	
	left: 64%;
	top: 0;
	
	-webkit-transform: scale(0.13);
	-moz-transform: scale(0.13);
	transform: scale(0.13);
}

.x25 {
    -webkit-animation: animateBubble 3s linear infinite, sideWays 2s ease-in-out infinite alternate;
	-moz-animation: animateBubble 3s linear infinite, sideWays 2s ease-in-out infinite alternate;
	animation: animateBubble 3s linear infinite, sideWays 2s ease-in-out infinite alternate;
	
	left: 34%;
	top: 0;
	
	-webkit-transform: scale(0.15);
	-moz-transform: scale(0.15);
	transform: scale(0.15);
}

.x26 {
      -webkit-animation: animateBubble 3.2s linear infinite, sideWays 2s ease-in-out infinite alternate;
	-moz-animation: animateBubble 3.2s linear infinite, sideWays 2s ease-in-out infinite alternate;
	animation: animateBubble 3.2s linear infinite, sideWays 2s ease-in-out infinite alternate;
	
	left: 44%;
	top: 0;
	
	-webkit-transform: scale(0.21);
	-moz-transform: scale(0.21);
	transform: scale(0.21);
}

.x27 {
    -webkit-animation: animateBubble 2.8s linear infinite, sideWays 2s ease-in-out infinite alternate;
	-moz-animation: animateBubble 2.8s linear infinite, sideWays 2s ease-in-out infinite alternate;
	animation: animateBubble 2.8s linear infinite, sideWays 2s ease-in-out infinite alternate;
	
	left: 54%;
	top: 70%;
	
	-webkit-transform: scale(0.18);
	-moz-transform: scale(0.18);
	transform: scale(0.18);
}

.x28 {
    -webkit-animation: animateBubble 2.5s linear infinite, sideWays 1s ease-in-out infinite alternate;
	-moz-animation: animateBubble 2.5s linear infinite, sideWays 1s ease-in-out infinite alternate;
	animation: animateBubble 2.5s linear infinite, sideWays 1s ease-in-out infinite alternate;
	
	left: 43%;
	top: 0;
	
	-webkit-transform: scale(0.13);
	-moz-transform: scale(0.13);
	transform: scale(0.13);
}

.x29 {
    -webkit-animation: animateBubble 3.1s linear infinite, sideWays 3s ease-in-out infinite alternate;
	-moz-animation: animateBubble 3.1s linear infinite, sideWays 3s ease-in-out infinite alternate;
	animation: animateBubble 3.1s linear infinite, sideWays 3s ease-in-out infinite alternate;
	
	left: 13%;
	top: 0;
	
	-webkit-transform: scale(0.2);
	-moz-transform: scale(0.2);
	transform: scale(0.2);
}

.x30 {
    -webkit-animation: animateBubble 2.9s linear infinite, sideWays 1s ease-in-out infinite alternate;
	-moz-animation: animateBubble 2.9s linear infinite, sideWays 1s ease-in-out infinite alternate;
	animation: animateBubble 2.9s linear infinite, sideWays 1s ease-in-out infinite alternate;
	
	left: 35%;
	top: 10%;
	
	-webkit-transform: scale(0.1);
	-moz-transform: scale(0.1);
	transform: scale(0.1);
}

/* OBJECTS */

.bubble {
    -webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	
    -webkit-box-shadow: 0 20px 30px rgba(0, 0, 0, 0.2), inset 0px 10px 30px 5px rgba(255, 255, 255, 1);
	-moz-box-shadow: 0 20px 30px rgba(0, 0, 0, 0.2), inset 0px 10px 30px 5px rgba(255, 255, 255, 1);
	box-shadow: 0 20px 30px rgba(0, 0, 0, 0.2), inset 0px 10px 30px 5px rgba(255, 255, 255, 1);
	
    height: 150px;
	position: absolute;
	width: 150px;
    
}

.bubble:after {
    background: -moz-radial-gradient(center, ellipse cover,  rgba(255,255,255,0.5) 0%, rgba(255,255,255,0) 70%); /* FF3.6+ */
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(255,255,255,0.5)), color-stop(70%,rgba(255,255,255,0))); /* Chrome,Safari4+ */
    background: -webkit-radial-gradient(center, ellipse cover,  rgba(255,255,255,0.5) 0%,rgba(255,255,255,0) 70%); /* Chrome10+,Safari5.1+ */
    background: -o-radial-gradient(center, ellipse cover,  rgba(255,255,255,0.5) 0%,rgba(255,255,255,0) 70%); /* Opera 12+ */
    background: -ms-radial-gradient(center, ellipse cover,  rgba(255,255,255,0.5) 0%,rgba(255,255,255,0) 70%); /* IE10+ */
    background: radial-gradient(ellipse at center,  rgba(255,255,255,0.5) 0%,rgba(255,255,255,0) 70%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#80ffffff', endColorstr='#00ffffff',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	
    -webkit-box-shadow: inset 0 20px 30px rgba(255, 255, 255, 0.3);
	-moz-box-shadow: inset 0 20px 30px rgba(255, 255, 255, 0.3);
	box-shadow: inset 0 20px 30px rgba(255, 255, 255, 0.3);
	
	content: "";
    height: 125px;
	left: 10px;
	position: absolute;
	width: 125px;
}
    
    #background-wrap {
    width:200px;
    height:300px;
        position:fixed;
	left: 920px;
	right: 230px;
	top: 0;
	z-index: 100;
    bottom:0;
    background-color: blue;
}
    
   

</style>


<div id="background-wrap">
    <div class="bubble x1"></div>
    <div class="bubble x2"></div>
    <div class="bubble x3"></div>
    <div class="bubble x4"></div>
    <div class="bubble x5"></div>
    <div class="bubble x6"></div>
    <div class="bubble x7"></div>
    <div class="bubble x8"></div>
    <div class="bubble x9"></div>
    <div class="bubble x10"></div>
    <div class="bubble x11"></div>
    <div class="bubble x12"></div>
    <div class="bubble x13"></div>
    <div class="bubble x14"></div>
    <div class="bubble x15"></div>
    <div class="bubble x16"></div>
    <div class="bubble x17"></div>
    <div class="bubble x18"></div>
    <div class="bubble x19"></div>
    <div class="bubble x20"></div>
    <div class="bubble x21"></div>
    <div class="bubble x22"></div>
    <div class="bubble x23"></div>
    <div class="bubble x24"></div>
    <div class="bubble x25"></div>
    <div class="bubble x26"></div>
    <div class="bubble x27"></div>
    <div class="bubble x28"></div>
    <div class="bubble x29"></div>
    <div class="bubble x30"></div>
</div>



<script>
    
 
    var textHeight = document.getElementById('admin-text').clientHeight;
     var photoHeight = document.getElementById('admin-view').style.height;
    
    document.getElementById('admin-view').style.height = textHeight+"px";
    
</script>

{% endblock %}

