{% extends 'opening/twwdbase.html' %}

{% block content%}
<html lang="en" >

  <head>
  
  {% load static %}
      <link rel="stylesheet" href="{% static 'css/colour_change.css' %}">

  
</head>

<body>

  <html>
  <head>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
  </head>
  <body>
    <div id="gradient" />
 </body>
</html>
  
  
  {% load static %}
    <script  src="{% static 'js/colour_change.js' %}"></script>




</body>

</html>

{% endblock %}
