
{% extends 'opening/melon-nav-base.html' %}

{% block optional_cover %}

    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/font-awesome.min.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}" />



<style>

    
     .cover-div{
        background-color: #e3ab20;
        width:100%;
        height:100%;
        position:fixed;
        z-index:999;
    }

    
    
#canvas{ background-image:url("{% static 'photos/newback.jpg' %}");
        background-size:contain;
        margin: 0 auto;
    border:solid;
    border-width:2px;
  border-color:#e3ab20;
    border-left:0;
    border-top:0;
    border-right:0;
    }
    
    
    
    .logo-div{
        width:400px;
        height:400px;
        background-image:url("{% static 'photos/logotwwd.png' %}");
        background-size:cover;
        margin: 0 auto;
    
        
    }
    
    .logo-holder{
        width:100%;
        position:fixed;
        padding-top:170px;
    }
    
    .nav-icon:hover{
        color:#FAFAFA;
        font-size:110%;
   
    }
    
     .nav-icon{
       
        position:relative;
        margin-top: -5px;
    }
    
 
    
    
    
    
    .home-page-icon{
        width:50px;
        height:50px;
        position:fixed;
        color: white;
         
        text-align: center;
        font-size:150%;


    }
    
    .home-page-icon:hover{
        width:70px;
        height:70px;
        color:#727272;
        
        margin:0;
       
    }
   
    
    .hoverText350:hover{
        font-size: 300%;
    }
    
    
    
    .bottom-icon{
        bottom:0;
        margin-bottom:30px;
    }
    .bottom-icon:hover{
       
        margin-bottom:25px;
    }

    .top-icon{
        top:0;
        margin-top:30px;
    }
    .top-icon:hover{
       
        margin-top:20px;
    }
    

    
    .left-icon{
        left:0;
        margin-left:30px;
        
    }
    
    .right-icon{
        right:0;
        margin-right:30px;
    }
     .left-icon:hover{
        left:0;
        margin-left:20px;
        
    }
    .right-icon:hover{
        right:0;
        margin-right:25px;
    }
    
    

@-webkit-keyframes ani-mouse {
	0% {
	opacity: 1;
	top: 29%;
	}
	15% {
	opacity: 1;
	top: 50%;
	}
	50% {
	opacity: 0;
	top: 50%;
	}
	100% {
	opacity: 0;
	top: 29%;
	}
}
@-moz-keyframes ani-mouse {
	0% {
	opacity: 1;
	top: 29%;
	}
	15% {
	opacity: 1;
	top: 50%;
	}
	50% {
	opacity: 0;
	top: 50%;
	}
	100% {
	opacity: 0;
	top: 29%;
	}
}
@keyframes ani-mouse {
	100% {
	opacity: 1;
	top: 29%;
	}
	65% {
	opacity: 1;
	top: 50%;
	}
	50% {
	opacity: 0;
	top: 50%;
	}
	0% {
	opacity: 0;
	top: 29%;
	}
}
 .scroll-btn {
	display: block;
    width: 20%;
    left:40%;
     right:40%;
     position:fixed;
  
	text-align: center;
     bottom:0;
   
     
}
.scroll-btn > * {
	display: inline-block;
	line-height: 18px;
	font-size: 13px;
	font-weight: normal;
	color: #7f8c8d;
	color: #ffffff;
	font-family: "proxima-nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
	letter-spacing: 2px;
}
.scroll-btn > *:hover,
.scroll-btn > *:focus,
.scroll-btn > *.active {
	color: #ffffff;
}
.scroll-btn > *:hover,
.scroll-btn > *:focus,
.scroll-btn > *:active,
.scroll-btn > *.active {
	opacity: 0.8;
	filter: alpha(opacity=80);
}
.scroll-btn .mouse {
	position: relative;
	display: block;
	width: 35px;
	height: 55px;
	margin: 0 auto 20px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	border: 3px solid white;
	border-radius: 23px;
}
.scroll-btn .mouse > * {
	position: absolute;
	display: block;
	top: 29%;
	left: 50%;
	width: 8px;
	height: 8px;
	margin: -4px 0 0 -4px;
	background: white;
	border-radius: 50%;
	-webkit-animation: ani-mouse 2.5s linear infinite;
	-moz-animation: ani-mouse 2.5s linear infinite;
	animation: ani-mouse 2.5s linear infinite;

    }
    
    .home-pager{
        width:100%;
        position:fixed;
        top:0;
        z-index:1000;
      
      
    }
    
    .can-Diss{
        height:1600px;
    }
    
    .page-cover{
        position:relative;
        z-index:1001;
        height:100%;
        width:100%;
    }
    
        .navbar2{
        background-image:url("{% static 'photos/newback.jpg' %}");
        background-size:cover;
        border-color:#e3ab20;
        width:100%;
        position:fixed;
        z-index:1000;
        border-left:0;
        border-right:0;
        border-top:0;
        border-radius:0;
        height:60px;
        
   
    }
    
    #MT{
        color:#e3ab20;
    }
    
    .bub-hole{
        margin:0 auto;
  
        width:20%;
        position:fixed;
        left:40%;
        right:40%;
    }
    
    #in-text{
        position:relative;
        margin:0 auto;
        margin-top:-200px;
        z-index:9999999999999999999999999;
        color:#e3ab20;
    }
    
    .in-text-hold{
        width:420px;
        margin:0 auto;
    }
    
    
  
    
    
    
    
</style>

  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">


<div class = "home-pager">
    
    
    {% block navContent_GONE %}
        {% endblock %}
</div>
    

<div class = "page-cover" id = "coverer">
    
     <div class = "bub-hole" id = "bubby">
           
         {% block bubble-block %}
            {% endblock %}
    
     </div>
    <div class = "logo-holder">
        
    
    <div class = "logo-div">
        
        
        
        
        </div>
    </div>
    
   




<div class = "can-Diss">
<canvas id="canvas" class = "yy"> </canvas>
    <div class = "in-text-hold"><h4 id = "in-text">Click on the circle or scroll down to enter the site.</h4></div>
    </div>

  <span class="scroll-btn bottom-icon">
	
		<span class="mouse">
			<span>
			</span>
            
		</span>
      <p5>scroll down</p5>
	


</span>
    
    
  
</div>




    
    
    
    
    






        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

  <script>
	THREE.ShapeUtils.triangulateShape = (function () {
	        var pnlTriangulator = new PNLTRI.Triangulator();
	        return function triangulateShape(contour, holes) {
	            return pnlTriangulator.triangulate_polygon([contour].concat(holes));
	        };
	    })();
</script>


  <script src='http://cdnjs.cloudflare.com/ajax/libs/three.js/r75/three.min.js'></script>


  


<script>
    
    var screenWidth = $(window).width();
           
            var notcompCO = 750;
            var on_mobile = false;
           
            if(screenWidth<=notcompCO){
               //MAKE FRONT LOADER DISSAPPEAR AFTER X SECONDS -- INCASE THEY HAVENT SCROLLED UP ENOUGH.
                on_mobile = true;
                
               }

    
    /*
    
    <script src='https://s3-us-west-2.amazonaws.com/s.cdpn.io/175711/TextGeometry.js'>
<script src='https://s3-us-west-2.amazonaws.com/s.cdpn.io/175711/FontUtils.js'>
<script src='https://s3-us-west-2.amazonaws.com/s.cdpn.io/175711/pnltri.min.js'>
<script src='https://s3-us-west-2.amazonaws.com/s.cdpn.io/175711/droid_sans_bold.typeface.js'>
    
    */
   
   
    $(".navbar").hide();
    
    
    var logoWidth = 30;
    var logoHeight = 30;
    

    
    
    	window.requestAnimFrame = function()
	{
		return (
			window.requestAnimationFrame       || 
			window.webkitRequestAnimationFrame || 
			window.mozRequestAnimationFrame    || 
			window.oRequestAnimationFrame      || 
			window.msRequestAnimationFrame     || 
			function( callback){
				window.setTimeout(callback, 1000 / 60);
			}
		);
	}();      

    var canvas = document.getElementById('canvas'); 
    
    var context = canvas.getContext('2d');
    
var W = window.innerWidth, H = window.innerHeight;
	canvas.width = W;
	canvas.height = H;

	var particle_count = 200,
		particles = [],
		couleurs   = ["#3e0e39", "#b6002c", "#e7d843","#4abf72"];
    function Particle()
    {

        this.radius = Math.round((Math.random()*3));
        this.x = Math.floor((Math.random() * canvas.width) + this.radius); 
        this.y =  Math.floor((Math.random() * canvas.height) + this.radius); 
        this.color = couleurs[Math.round(Math.random()*couleurs.length)];
        this.speedx = Math.round((Math.random()*60)+0)/100;
        this.speedy = Math.round((Math.random()*60)+0)/100;

        switch (Math.round(Math.random()*couleurs.length))
        {
            case 1:
            this.speedx *= 1;
            this.speedy *= 1;
            break;
            case 2:
            this.speedx *= -1;
            this.speedy *= 1;
            break;
            case 3:
            this.speedx *= 1;
            this.speedy *= -1;
            break;
            case 4:
            this.speedx *= -1;
            this.speedy *= -1;
            break;
        }
            
        this.move = function()
        {
            
            context.beginPath();
            context.globalCompositeOperation = 'source-over';
            context.fillStyle   = this.color;
            context.globalAlpha = 1;
            context.arc(this.x, this.y, this.radius, 0, Math.PI*2, false);
            context.fill();
            context.closePath();

            this.x = this.x + this.speedx;
            this.y = this.y + this.speedy;
            
            if(this.x <= 0+this.radius)
            {
                
                this.speedx *= -1;
            }
            if(this.x >= canvas.width-this.radius)
            {
                this.speedx *= -1;
            }
            if(this.y <= 0+this.radius)
            {
                this.speedy *= -1;
            }
            if(this.y >= canvas.height-this.radius)
            {
                this.speedy *= -1;
            }
            
           
           
         
           

            for (var j = 0; j < particle_count; j++)
            {
                var particleActuelle = particles[j],
                    yd = particleActuelle.y - this.y,
                    xd = particleActuelle.x - this.x,
                    d  = Math.sqrt(xd * xd + yd * yd);
                
                

                if ( d < 190 )
                {
                    context.beginPath();
                    context.globalAlpha = (200 - d) / (200 - 0);
                    context.globalCompositeOperation = 'destination-over';
                    context.lineWidth = 1;
                    context.moveTo(this.x, this.y);
                    context.lineTo(particleActuelle.x, particleActuelle.y);
                    context.strokeStyle = this.color;
                    context.lineCap = "round";
                    context.stroke();
                    context.closePath();
                }
            }
        };
    };
    for (var i = 0; i < particle_count; i++)
    {
        var particle = new Particle();
        particles.push(particle);
    }


    function animate()
    {
        context.clearRect(0, 0, canvas.width, canvas.height);
        for (var i = 0; i < particle_count; i++)
        {
            particles[i].move();
        }
        requestAnimFrame(animate);
    }
    
    
// below here is for Alexia
   /*
   
   */
    
    
   //animate(); 
 
    


    
    $(window).scroll(function() {
   if($(window).scrollTop() + $(window).height() > $(document).height() - 900) {
       dissappearIcons();
   }
        
         if($(window).scrollTop() + $(window).height() > $(document).height() - 600) {
        $(".logo-holder").fadeOut();
   }
        
        
        if($(window).scrollTop() + $(window).height() > $(document).height() - 500) {
                if(on_mobile){
                   document.getElementById("coverer").style.zIndex = "1";
                   $(".page-cover").html("");
          
                   }
   }
        
   
         if($(window).scrollTop() + $(window).height() > $(document).height() - 300) {
       dissappearTopIcons();
   }
        
           if($(window).scrollTop() + $(window).height() > $(document).height() - 60) {
               if(!on_mobile){
               document.getElementById("coverer").style.zIndex = "1";
              $(".page-cover").html("");
           }
            
                 
   }
});
    
    
    function dissappearIcons(){
        
        //remove icons
         //$(".bottom-icon").fadeOut();
        
        
        //remove logo
        
      
        
    }
    
        
    function dissappearTopIcons(){
        
        $(".navbar").show();
        
        //remove logo
        
        //$(".top-icon").fadeOut();
        
   
        
    }
    
    
    function loadSecondSlideUp(){
        //add the slider:
        //change z-index:
    }
  
    
  $(".logo-div").click(autoMoves);
  
    
    function autoMoves(){
        
          dissappearIcons();
                dissappearTopIcons();
        
         timeOut3 = setTimeout(function()
            {
             $(".logo-holder").fadeOut();   
             $('#bubby').hide();
              $('.bubble').hide();
             
            },700);
        
         timeOuta = setTimeout(function()
            {
           
              $('.bubble').hide();
             
            },1400);
        
        timeOutg = setTimeout(function()
            {
           
              $('.bubble').hide();
             
            },1600);
        
          timeOutz = setTimeout(function()
            {
           
              $('.bubble').hide();
             
            },1800);
        
        
          timeOutsdd = setTimeout(function()
            {
           
              $('.bubble').hide();
             
            },2000);
              
              
         timeOutb = setTimeout(function()
            {
           
              $('.bubble').hide();
             
            },1200);
        
         timeOutc = setTimeout(function()
            {
           
              $('.bubble').hide();
             
            },1000);
        
       timeOut = setTimeout(function()
            {
            $('.bubble').hide();
           $('#canvas').animate({
        'marginTop' : "-=900px" 
        },1200);
           
            
            timeOut3 = setTimeout(function()
            {
             
             $(".page-cover").html("");  
            document.getElementById("coverer").style.zIndex = "1";
                
                
            },1000);
           
            $('.bubble').hide();
            },1500);
              
           
       
          
       
        
       
      
        
    }
    
 
    
    
 





</script>

{% endblock %}
